<%= turbo_frame_tag "cart" do %>
    <div class="container">
        <div class="pagetitle">
            <h1 class="display-3">Cart</h1>
        </div>
        <% if @cart.cart_items.count > 0 %>
            <%= render "cart/cart_item" %>
            <div class="container text-center">
            <div class="row">
                <div class="col-sm-12 productdetails">
                    <div class="row">
                        <div class="col-sm-10">
                            <p>Cart Total: <%= @cart.total %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% else %>
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12 productdetails">
                    <div class="row">
                        <div class="col-sm-10">
                            <p>Cart is empty</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
<% end %>